header {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  height: 500px;
  width: 100%;
  align-items: center;
  background-color: #4056A1; 
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  color: #FFFFFF;
}