header.nav-bar {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  align-items: center;
  justify-content: center;
  background-color: #4056A1; 
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  color: #FFFFFF;
}