form {
  display: flex;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
  flex-direction: column;
}

textarea {
  background-color: #dae7f5;
  outline: 0;
  height: 0;
  padding: 1.7em;
  padding-left: 0em;
  border-width: 0 0 4px;
}

textarea::placeholder {
  font-weight: bold;
}

.new-tweet-footer {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

button {
  color: #FFFFFF;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
}

.counter {
  font-family: 'Bungee', cursive;
}