.new-tweet form {
  display: flex;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
  flex-direction: column;
}

.new-tweet textarea {
  background-color: #dae7f5;
  outline: 0;
  height: 0;
  padding: 1.7em;
  padding-left: 0em;
  resize: none;
  overflow: hidden;
  border-width: 0 0 4px;
}

.new-tweet textarea {
  font-weight: bold;
}

.new-tweet-footer {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.new-tweet-footer button {
  color: #FFFFFF;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
}

.new-tweet-footer button:hover {
  box-shadow: 3px 3px 3px 0px rgba(2, 67, 67, 1);
  transform: scale(1.01);
}

.new-tweet-footer .counter {
  font-family: 'Bungee', cursive;
}

.new-tweet-footer .red {
  color: red;
}