article.tweet {
  border: solid 3px;
  margin-top: 1em;
  margin-bottom: 1em;
}

article.tweet:hover {
  box-shadow: 5px 5px 5px 0px rgba(2, 67, 67, 1);
  transform: scale(1.01);
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  padding-bottom: 0;
}

article.tweet header .user-tweet {
  display: flex;
  align-items: center;
  
}

article.tweet header img {
  margin-right: 0.5em;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5%;
  padding: 0.2em;
  border-top: solid 3px;
  font-size: 15px;
}

article.tweet .user-tag {
  opacity: 50%;
}

article.tweet p {
  padding: 0.5em;
}

article.tweet .fa-solid {
  padding-left: 10px;
}

article.tweet .fa-solid:hover {
  color:rgb(255, 70, 70);
}